modules = ["nodejs-20", "web"]
run = "node index.js"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npx http-server -p 5000 -a 0.0.0.0"]

[workflows]
runButton = "Iori 1"

[[workflows.workflow]]
name = "Iori 1"
mode = "sequential"
author = 46678806

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[[ports]]
localPort = 5000
externalPort = 80
